.titleBookings {
  position: absolute;
  height: 24px;
  left: 160px;
  right: 96px;
  top: 160px;
  @include semiBold2024();
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 1176px;
  height: 768px;
  left: 160px;
  top: 208px;
}

.myAccount {
  display: flex;
  flex-direction: row;
  padding: 24px;
  gap: 16px;
  width: 1176px;
  height: 96px;
  background: $white;
  border: 1px solid $grey2;
  border-radius: 12px;

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 12px 16px;
    gap: 8px;

    width: 100px;
    height: 48px;
    background: $grey1;
    border-radius: 8px;
    flex: none;
    order: 5;
    flex-grow: 0;
    color: $primaryColor;
    border: none;
  }
}

.info {
  gap: 4px;
  width: 241px;
  height: 36px;
  h2 {
    width: 241px;
    height: 16px;
    @include regular1216();
    color: #505050;
  }

  p {
    width: 241px;
    height: 16px;
    @include semiBold1416();
  }
}
