.container-confirmed {
  position: absolute;
  width: 1176px;
  height: 236px;
  left: 96px;
}
.clientefinal-paneldereservas-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 1176px;
  height: 236px;
  left: 96px;
  top: 144px;
}
.clientefinal-paneldereservas-user-interface {
  width: 48px;
  height: 48px;
}
.clientefinal-paneldereservas-union {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 4px;
  background: $secondaryColor;
}
.clientefinal-paneldereservas-text {
  width: 1176px;
  height: 32px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "zero" on;
  color: $primaryColor;
}
.clientefinal-paneldereservas-text02 {
  width: 1176px;
  height: 40px;
  text-align: center;
  @include semiBold1420();
  color: $grey8;
}
.clientefinal-paneldereservas-c-t-a-desktop115 {
  text-align: center;
  padding: 12px 24px;
  gap: 4px;
  width: 382px;
  height: 44px;
  background: $primaryColor;
  border-radius: 8px;
  margin: 0;
}
.clientefinal-paneldereservas-text07 {
  width: 334px;
  height: 20px;
  @include semiBold1620();
  text-align: center;
  color: $white;
}
.clientefinal-paneldereservas-pedido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 1176px;
  height: 260px;
  left: 96px;
  top: 436px;
}
.clientefinal-paneldereservas-border {
  width: 1176px;
  height: 0px;
  border: 2px solid $grey1;
}
.clientefinal-paneldereservas-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1176px;
  height: 96px;
}
.clientefinal-paneldereservas-pedido1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 977px;
  height: 64px;
}
.clientefinal-paneldereservas-text09 {
  width: 977px;
  height: 32px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  font-feature-settings: "zero" on;
  color: #000000;
}
.clientefinal-paneldereservas-text10 {
  width: 977px;
  height: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  font-feature-settings: "zero" on;
  color: #000000;
}

.num-reserva {
  color: #a442f1;
}

.clientefinal-paneldereservas-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 977px;
  height: 20px;
}
.clientefinal-paneldereservas-text12 {
  width: 977px;
  height: 20px;

  /* Body/SemiBold · 14 · 20 */
  @include semiBold1420();
  color: $grey8;
}
.clientefinal-paneldereservas-c-t-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 183px;
  height: 96px;
}
.clientefinal-paneldereservas-c-t-a-desktop2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 183px;
  height: 44px;
  background: rgba(164, 66, 241, 0.1);
  border-radius: 8px;
}
.clientefinal-paneldereservas-user-interface1 {
  width: 20px;
  height: 20px;
}
.clientefinal-paneldereservas-text14 {
  width: 150px;
  height: 20px;
  @include semiBold1620();
  color: $primaryColor;
}
.clientefinal-paneldereservas-c-t-a-desktop4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  gap: 4px;
  width: 183px;
  height: 44px;
  background: $grey1;
  border-radius: 8px;
}
.clientefinal-paneldereservas-user-interface2 {
  width: 20px;
  height: 20px;
}
.clientefinal-paneldereservas-text16 {
  width: 154px;
  height: 20px;
  @include semiBold1520();
  color: #e53939;
}
.clientefinal-paneldereservas-info1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 1176px;
  height: 100px;
}
.clientefinal-paneldereservas-informacin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 360px;
  height: 100px;
}
.clientefinal-paneldereservas-text18 {
  width: 360px;
  height: 20px;
  @include semiBold1620();
}
.clientefinal-paneldereservas-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 360px;
  height: 44px;
}
.clientefinal-paneldereservas-txt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 171px;
  height: 20px;
}
.clientefinal-paneldereservas-text20 {
  width: 31px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-text22 {
  width: 136px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-txt1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 142px;
  height: 20px;
}
.clientefinal-paneldereservas-text24 {
  width: 59px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-text26 {
  width: 79px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-informacin1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 360px;
  height: 100px;
}
.clientefinal-paneldereservas-text28 {
  width: 360px;
  height: 20px;
  @include semiBold1620();
}
.clientefinal-paneldereservas-data1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 360px;
  height: 44px;
}
.clientefinal-paneldereservas-txt2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 158px;
  height: 20px;
}
.clientefinal-paneldereservas-text30 {
  width: 65px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-text32 {
  width: 95px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-txt3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 139px;
  height: 20px;
}
.clientefinal-paneldereservas-text34 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 69px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-text36 {
  width: 84px;
  height: 20px;
  @include semiBold1420();
  color: #505050;
}
.clientefinal-paneldereservas-informacin2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 360px;
  height: 100px;
}
.clientefinal-paneldereservas-text38 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 12px;
}
.clientefinal-paneldereservas-data2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.clientefinal-paneldereservas-txt4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 4px;
}
.clientefinal-paneldereservas-text39 {
  color: var(--dl-color-default-grey8);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 4px;
  margin-bottom: 0;
  text-decoration: none;
}
.clientefinal-paneldereservas-text40 {
  color: var(--dl-color-default-grey8);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.clientefinal-paneldereservas-txt5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.clientefinal-paneldereservas-text41 {
  color: var(--dl-color-default-grey8);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 4px;
  margin-bottom: 0;
  text-decoration: none;
}
.clientefinal-paneldereservas-text42 {
  color: var(--dl-color-default-grey8);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
