.containerCalendar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  position: absolute;
  width: 457px;
  height: 362px;
  left: 815px;
  top: 208px;
  background: $white;
  border-radius: 8px;
  button {
    width: 20px;
  }
  span {
    width: 155px;
    color: black;
    font-size: 14px;
  }
}

.reserva-reserva {
  /* Reserva */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  gap: 32px;

  position: absolute;
  width: 679px;
  height: 362px;
  left: 96px;
  top: 208px;

  /* White */

  background: #ffffff;
  border-radius: 8px;
}
.reserva-content {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 599px;
  height: 222px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-head {
  /* Head */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 599px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-text {
  /* Título */

  width: 599px;

  height: 24px;

  /* Semibold · 18 · 24 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  font-feature-settings: "zero" on;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-text02 {
  /* Txt */

  width: 599px;
  height: 20px;

  /* Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-stepper {
  /* Stepper */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 599px;
  height: 60px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-step {
  /* Step */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 199.67px;
  height: 60px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.reserva-step1 {
  /* Step */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 199.67px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-border {
  /* Border */

  width: 83.83px;
  height: 2px;

  /* Principal */

  background: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.reserva-number {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaryColor;
  border-radius: 8px;
}

.reserva-text04 {
  @include semiBold1420();
  color: $white;
}
.reserva-border1 {
  /* Border */

  width: 83.83px;
  height: 2px;

  /* Principal */

  background: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.reserva-text05 {
  /* Txt */

  width: 199.67px;
  height: 20px;

  /* Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $primaryColor;
}
.reserva-step2 {
  /* Txt */

  width: 199.67px;
  height: 20px;

  /* Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Principal */

  color: #a442f1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-step3 {
  /* Step */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 199.67px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-border2 {
  /* Border */

  width: 83.83px;
  height: 2px;

  /* Grey 4 */

  background: #c8c8c8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.reserva-number1 {
  /* Number */

  width: 32px;
  height: 32px;

  /* Grey 4 */

  background: #c8c8c8;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.reserva-text07 {
  /* Num */

  position: absolute;
  width: 16px;
  height: 20px;
  left: 8px;
  top: 6px;

  /* Semibold · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "ordn" on, "liga" off;

  /* White */

  color: #ffffff;
}
.reserva-border3 {
  /* Border */

  width: 83.83px;
  height: 2px;

  /* Grey 4 */

  background: #c8c8c8;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.reserva-text08 {
  /* Txt */

  width: 199.67px;
  height: 20px;

  /* Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey 4 */

  color: #c8c8c8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-step4 {
  /* Step */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 199.67px;
  height: 60px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.reserva-step5 {
  /* Step */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 199.67px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-border4 {
  /* Border */

  width: 83.83px;
  height: 2px;

  /* Grey 4 */

  background: #c8c8c8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.reserva-number2 {
  /* Number */

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey4;
  border-radius: 8px;
}
.reserva-text10 {
  /* Semibold · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "ordn" on, "liga" off;

  /* White */

  color: #ffffff;
}
.reserva-border5 {
  /* Border */

  width: 83.83px;
  height: 2px;

  /* Grey 4 */

  background: #c8c8c8;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.reserva-text11 {
  /* Txt */

  width: 199.67px;
  height: 20px;
  @include semiBold1420();

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $grey4;
}
.reserva-input-desktop2 {
  /* Input Desktop 2 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 599px;
  height: 66px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-txt {
  /* Txt */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 599px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-text13 {
  /* Título */

  width: 599px;
  height: 20px;

  /* Regular · 14 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;

  /* Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.reserva-input-desktop1 {
  /* Input Desktop 1 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 12px 12px;
  gap: 8px;

  width: 599px;
  height: 44px;

  /* White */

  background: #ffffff;
  /* Grey 3 */

  border: 1px solid #e1e1e1;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.reserva-text15 {
  /* Text */

  width: 334px;
  height: 20px;

  /* Semibold · 16 · 20 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.reserva-user-interface {
  width: 20px;
  height: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.reserva-c-t-a-desktop1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 178px;
  height: 44px;
  background: $grey3;
  border-radius: 8px;
}
.reserva-text16 {
  width: 130px;
  height: 20px;
  @include semiBold1620();
  display: flex;
  align-items: center;
  text-align: center;
  color: #8c8c8c;
}

.border-ok {
  background: #00a541;
}

.letter-ok {
  color: #00a541;
}

.border-process {
  background-color: $primaryColor;
}

.letter-process {
  color: $primaryColor;
}
.information {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 45vh;
}
.data {
  width: 319px;
  margin-bottom: 2vh;
  // order: 0;
}

.datos {
  width: 280px;
}

.reserva-ok {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  gap: 32px;
  position: absolute;
  width: 679px;
  height: 608px;
  left: 96px;
  top: 208px;
  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.clientefinal-paneldereservas-c-t-a-desktop1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 178px;
  height: 44px;
  background: $grey3;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 35vh;
}

.clientefinal-paneldereservas-text026 {
  width: 130px;
  height: 20px;
  @include semiBold1620();
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;
  color: $grey6;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.confirm {
  background-color: $primaryColor;
  color: $white;
}

.reserva-c-t-a-desktop1,
.clientefinal-paneldereservas-c-t-a-desktop1 {
  border: none;
}
