.navbar {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 96px;
  gap: 14px;

  position: absolute;
  width: 1368px;
  height: 76px;
  left: calc(50% - 1368px / 2);
  top: 36px;

  /* White */

  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);

  button {
    /* CTA-Desktop-2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 4px;

    width: 112px;
    height: 44px;

    background: rgba(164, 66, 241, 0.1);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

.container-login {
  /* Login Mail */

  /* Auto layout */
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 32px 32px;
  gap: 20px;

  position: absolute;
  width: 580px;
  height: 444px;
  left: calc(50% - 580px / 2);
  top: 160px;

  /* White */
  background: #ffffff;

  /* Shadow Card Hover */
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.head-login {
  /* Head */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 516px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  h2 {
    width: 516px;
    height: 32px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    /* identical to box height, or 133% */
    text-align: center;
    font-feature-settings: "zero" on;

    /* Black */
    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.inputs-login {
  /* Inputs */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 516px;
  height: 172px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.input-login {
  //* Input Desktop 2 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 516px;
  height: 66px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  input {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px 12px 12px;
    gap: 8px;

    width: 516px;
    height: 44px;

    /* White */
    background: #ffffff;

    /* Grey 3 */
    border: 1px solid #e1e1e1;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.forgot-pw {
  /* Txt */

  width: 516px;
  height: 16px;

  /* Semibold · 14 · 16 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height, or 114% */
  // display: flex;
  align-items: center;
  text-align: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* Principal */
  color: #a442f1;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}

.btn-login {
  /* CTA-Desktop-1 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 516px;
  height: 44px;

  /* Principal */
  background: #a442f1;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  border: none;

  span {
    /* Text */

    width: 468px;
    height: 20px;

    /* Semibold · 16 · 20 */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height, or 125% */
    // display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: "zero" on;

    /* White */
    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
  }
}

.btn-register {
  /* CTA-Desktop-2 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;

  width: 516px;
  height: 44px;

  background: rgba(164, 66, 241, 0.1);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  border: none;

  span {
    /* Txt */

    width: 468px;
    height: 20px;

    /* Semibold · 16 · 20 */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height, or 125% */
    // display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: "zero" on;

    /* Principal */
    color: #a442f1;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
