.divReservas {
  /* Reservas */
  @include autoLayoutCol(16px);

  position: absolute;
  width: 1176px;
  height: 768px;
  left: 276px; // antes estaba en 96px
  top: 188px;
}

.divPedido {
  /* Pedido Mi Cuenta */
  box-sizing: border-box;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 16px;

  width: 1176px;
  height: 96px;

  /* White */

  background: $white;
  /* Grey 2 */

  border: 1px solid $grey2;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.divNombre {
  /* Info */

  /* Auto layout */

  @include autoLayoutCol(4px);

  width: 228.25px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.spanNombre {
  /* Txt */

  width: 228.25px;
  height: 16px;

  /* Regular · 12 · 16 */

  @include regular1216;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: $grey8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.spanNombre2 {
  /* Txt */

  width: 228.25px;
  height: 16px;

  /* Semibold · 14 · 16 */

  @include semiBold1416;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;
  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.divFecha {
  /* Info */

  /* Auto layout */

  @include autoLayoutCol(4px);

  width: 228.25px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.tituloFecha {
  /* tit */

  width: 228.25px;
  height: 16px;

  /* Regular · 12 · 16 */

  @include regular1216;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: $grey8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.fecha {
  /* txt */

  width: 228.25px;
  height: 16px;

  /* Semibold · 14 · 16 */

  @include semiBold1416;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;
  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.divDia {
  /* Info */

  /* Auto layout */

  @include autoLayoutCol(4px);

  width: 228.25px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 1;
}
.tituloDia {
  /* tit */

  width: 228.25px;
  height: 16px;

  /* Regular · 12 · 16 */
  @include regular1216;
  /* Grey 8 */

  color: $grey8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.spanDia {
  /* txt */

  width: 228.25px;
  height: 16px;

  /* Semibold · 14 · 16 */
  @include semiBold1416;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;
  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.divNumeroReservas {
  /* Info */

  /* Auto layout */
  @include autoLayoutCol(4px);

  width: 228.25px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 1;
}
.tituloNumReserva {
  /* tit */

  width: 228.25px;
  height: 16px;

  /* Regular · 12 · 16 */
  @include regular1216;
  /* identical to box height, or 133% */

  /* Grey 8 */

  color: $grey8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.numReserva {
  /* txt */

  width: 228.25px;
  height: 16px;

  /* Semibold · 14 · 16 */
  @include semiBold1416;
  /* identical to box height, or 114% */

  font-feature-settings: "zero" on;
  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.divConfirmacion {
  /* CTA-Desktop-4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 12px 16px;
  gap: 8px;

  width: 151px;
  height: 48px;

  /* Grey 1 */

  background: $grey1;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;
}
.txtConfirmacion {
  /* Txt */

  width: 91px;
  height: 20px;

  /* Semibold · 15 · 20 */

  @include semiBold1520;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "zero" on;

  /* Principal */
  color: $primaryColor;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.operadorUserInterface {
  /* User Interface */

  width: 24px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.tituloReserva {
  /* Reservas */

  position: absolute;
  height: 24px;
  left: 286px; //antes estaba en 96px
  right: 96px;
  top: 140px;

  /* SemiBold · 20 · 24 */
  @include semiBold2024;
  /* identical to box height, or 120% */

  font-feature-settings: "zero" on;

  /* Black */

  color: $black;
}

.BtnStyle {
  border: none;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
