.formulario-formulario {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 40px 32px;
gap: 16px;
position: absolute;
width: 878px;
height: 488px;
left: 245px;
top: 160px;
background: #FFFFFF;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
border-radius: 12px;
  }
  .formulario-text {
width: 798px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
font-feature-settings: 'zero' on;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }

  .formulario-input-desktop2 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 798px;
height: 66px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }
  .formulario-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 798px;
    height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .formulario-text02 {
 
width: 798px;
height: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 1;
  }
  .formulario-input-desktop1 {
  
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;
width: 798px;
height: 44px;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }

  .formulario-input-desktop21 {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 798px;
height: 66px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
  }

  .formulario-txt1 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 798px;
height: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
  .formulario-text04 {
width: 798px;
height: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 1;
  }

  .formulario-input-desktop11 {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;
width: 798px;
height: 44px;
background: #FFFFFF;

border: 1px solid #E1E1E1;
border-radius: 8px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }

  .formulario-fila {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 798px;
height: 66px;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
  }


  .formulario-input-desktop22 {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 391px;
height: 66px;
flex: none;
order: 0;
flex-grow: 1;
  }


  .formulario-txt2 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 391px;
height: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }

  .formulario-text06 {
width: 391px;
height: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;

color: #000000;

flex: none;
order: 0;
flex-grow: 1;
  }
  .formulario-input-desktop12 {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;
width: 391px;
height: 44px;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }



  .formulario-input-desktop3 {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 391px;
height: 66px;
flex: none;
order: 1;
flex-grow: 1;
  }

  .formulario-txt3 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 391px;
height: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }



  .formulario-text08 {

width: 391px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;


color: #000000;

flex: none;
order: 0;
flex-grow: 1;
  }
  .formulario-input-desktop13 {

box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;

width: 391px;
height: 44px;

background: #FFFFFF;

border: 1px solid #E1E1E1;
border-radius: 8px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }





  .formulario-text10 {


width: 343px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;

color: #AFAFAF;

flex: none;
order: 0;
flex-grow: 1;
  }

  .formulario-user-interface {
width: 20px;
height: 20px;
flex: none;
order: 1;
flex-grow: 0;
  }

  .formulario-horario {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 798px;
height: 66px;
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
  }



  .formulario-input-desktop23 {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 391px;
height: 66px;
flex: none;
order: 0;
flex-grow: 1;
  }
  .formulario-txt4 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 391px;
height: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
  .formulario-text12 {

width: 391px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;

color: #000000;

flex: none;
order: 0;
flex-grow: 1;
  }


  .formulario-input-desktop14 {
 
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;
width: 391px;
height: 44px;

background: #FFFFFF;

border: 1px solid #E1E1E1;
border-radius: 8px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }

  .formulario-input-desktop31 {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 391px;
height: 66px;
flex: none;
order: 1;
flex-grow: 1;
  }
  .formulario-txt5 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 391px;
height: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
  .formulario-text14 {

width: 391px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;

color: #000000;


flex: none;
order: 0;
flex-grow: 1;
  }


  .formulario-input-desktop15 {

box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;
width: 391px;
height: 44px;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }





  .formulario-c-t-a-desktop1 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 4px;
width: 798px;
height: 48px;
background: #A442F1;
border-radius: 8px;
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
  }




  .formulario-text16 {

width: 750px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;


align-items: center;
text-align: center;
font-feature-settings: 'zero' on;


color: #FFFFFF;


flex: none;
order: 1;
flex-grow: 1;
  }
  
  .send{text-align: center;}