.box {
  /* Administrador: Listado de operadores */
  position: relative;
  max-width: 1920px;
  left: 140px;
  height: 1068px;
  background: $white;
  
}

.Header {
  height: 76px;
  width: 1920px;
 
  top: 36px;
  border-radius: 0px;
  padding: 16px 96px 16px 96px;

  /* Header */
  /* Auto layout */
  @include autoLayoutRow(14px);
  align-items: center;
  padding: 16px 96px;
  position: absolute;
  width: 1920px;
  height: 76px;
  left: 0px;
  top: 36px;
 
  

  .CTA-desktop-2 {
    /* CTA-Desktop-2 */
    @include autoLayoutRow(4px);
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 153px;
    height: 44px;
    background: rgba(164, 66, 241, 0.1);
    border: none;
    border-radius: 8px;

    div {
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      span {
        width: 115px;
        height: 20px;
        @include semiBold1620();
        display: flex;
        align-items: center;
        text-align: center;
        color: $primaryColor;
      }
    }
  }

  .CTA-desktop-2-b {
    /* Auto layout */
    @include autoLayoutRow(4px);
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 111px;
    height: 44px;
    background: rgba(164, 66, 241, 0.1);
    border-radius: 8px;
    border: none;

    div {
      span {
        width: 63px;
        height: 20px;

        /* Semibold · 16 · 20 */
        @include semiBold1620();
        display: flex;
        align-items: center;
        text-align: center;
        color: $primaryColor;
      }
    }
  }
  .listItems {
    /* Menú */
    /* Auto layout */
    @include autoLayoutRow(50px);
    justify-content: flex-end;
    align-items: center;
    width: 884px;
    height: 20px;

    .branchItem {
      /* CTA-Desktop-3 */
      /* Auto layout */
      @include autoLayoutRow(2px);
      align-items: center;
      list-style: none;
      width: 92px;
      height: 20px;
      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;

      /* Txt */
      width: 70px;
      height: 16px;

      @include semiBold1416();
      display: flex;
      align-items: center;
      color: black;
    }
    .operatorItem {
      /* Txt */
      width: 73px;
      height: 16px;
      @include semiBold1420();
      display: flex;
      align-items: center;
      color: $primaryColor;
    }
    .reportsItem {
      /* Txt */
      width: 58px;
      height: 16px;
      /* Semibold · 14 · 16 */
      @include semiBold1416();
      display: flex;
      align-items: center;
      color: $black;
    }
    .myAccountItem {
      /* Txt */
      width: 94px;
      height: 16px;
      @include semiBold1416();
      display: flex;
      align-items: center;
      color: $black;
    }
  }
}

.title {
  position: absolute;
  height: 24px;
  left: 96px;
  right: 96px;
  top: 160px;

  span {
    @include semiBold2024();
    color: $black;
  }
}

.operatorsContainer {
  /* Reservas */
  /* Auto layout */
  @include autoLayoutCol(16px);
  position: absolute;
  width: 1176px;
  height: 740px;
  left: 96px;
  top: 208px;

  div {
    box-sizing: border-box;
    /* Auto layout */
    @include autoLayoutRow(16px);
    align-items: center;
    padding: 24px;
    width: 1176px;
    height: 92px;
    /* White */
    background: $white;
    /* Grey 2 */
    border: 1px solid $grey2;
    border-radius: 12px;
    div {
      /* Info */
      /* Auto layout */
      @include autoLayoutCol(4px);
      border: none;
      width: 244px;
      height: 36px;
      div {
        border: none;
        /* Txt */
        width: 244px;
        height: 16px;
        @include regular1216();
        color: $grey8;
      }
    }
  }
}
.inputText {
  /* Txt */
  width: 244px;
  height: 16px;
  @include semiBold1416();
  color: $black;
}

.administrador-listadodeoperadores-info22 {
  /* Info */
  @include autoLayoutCol(4px);
  width: 244px;
  height: 36px;
}

.administrador-listadodeoperadores-text100 {
  /* tit */
  width: 244px;
  height: 16px;
  @include regular1216();
  /* identical to box height, or 133% */
  color: $grey8;
}
.administrador-listadodeoperadores-text102 {
  /* txt */
  width: 244px;
  height: 16px;
  @include semiBold1416();
  /* identical to box height, or 114% */
  color: $black;
}
.administrador-listadodeoperadores-info23 {
  /* Info */
  @include autoLayoutCol(4px);
  width: 244px;
  height: 36px;
}
.administrador-listadodeoperadores-text104 {
  /* tit */
  width: 244px;
  height: 16px;
  @include regular1216();
  color: $grey8;
}
.administrador-listadodeoperadores-text106 {
  width: 244px;
  height: 16px;
  @include semiBold1416();
  color: $black;
}

.editButton {

  border: none;
  
    /* CTA-Desktop-4 */
    @include autoLayoutRow(8px);
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 88px;
    height: 44px;
    background: $grey1;
    border-radius: 8px;
   
    span {
      /* Txt */
      width: 40px;
      height: 20px;
      @include semiBold1520();
      display: flex;
      align-items: center;
      text-align: center;
      color: $primaryColor;
    }
   
 
}


.top-bann{ margin-top: 5px;}

.navb{margin-top: 115px;}
