
.svgEyes{
width: 15px;
height: 15px;
flex: none;
order: 1;
flex-grow: 0; 
margin-left: 220px;
margin-top: -32px;
   
}
.svgEyesTwo{width: 15px;
    height: 15px;
    flex: none;
    order: 1;
    flex-grow: 0; 
    margin-left: 220px;
    margin-top: -32px;}


    
.gris{ color:grey;}
.valid {color:green; 
    border:green
  
}
.invalid{color:red;
border:red;}


