//base

@import "./base/global";
@import "./general.scss";
//componentes
@import "./components/navbar";
@import "./components/index";
@import "./components/userProfile";
@import "./components/adminProfile";
@import "./components/operatorList";
@import "./components/newBranch";
@import "./components/adminIndex";
@import "./components/register";
@import "./components/bookings";
@import "./components/confirmed";
@import "./components/operatorProfile";
@import "./components/indexOperator";
@import "./components/cancelled";
@import "./components/newOperator"

